body{
    background-color: rgb(223, 255, 149);
}
.container{
    display: flex;
    align-items: center;
    justify-items: center;
}
.container img{
    margin-right: 20px;
    max-width: 150px;
    height: auto;
}
.text{
    display: flex;
    flex-direction: column;
    
}